/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /***** GLOBAL STYLES *****/


html{
    font-family: objektiv-mk1, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
}
a{
    text-decoration: none;
}

.container{
    max-width: 80%;
    margin: 100px auto;
}
/* NAVIGATION */
nav{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row;
    text-transform: uppercase;
    border-bottom: 3px solid #7a5985;
}
.logo{
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    flex-flow: row;
    padding: 25px;
    color:#7a5985;
}
.logo p{
    color:#7a5985;
}
.logo-circle{
    max-width: 50%;
}
.nav-items{
    display: block;
    max-width: 40%;
}
.nav-items a{
    padding: 25px;
    color:#7a5985;
}

/* HERO */ 

.hero {
    width: 100vw;
    background-color: #322038;
    color: #ffffff;
}
.hero-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0px 50px 100px;
}
.hero-text{
    max-width: 70%;
    position: relative;
    margin-right: -100px;
    z-index: 2;
    font-size: 1.5em;
}
.hero-text h1,
.about-info h1{
    color: #7a5985;
}
.hero-img-wrapper{
    max-width: 40%;
}
.hero-img{
    max-width: 100%;
    position: relative;
    margin-left: -110px;
    z-index: 1;
}
/* UI/UX WORK */
.work-title{
    padding: 25px;
}
.grid-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
.grid-row-reverse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse;
}
.ux-work-img,
.web-dev-img{
    max-width: 45%;
    padding: 25px;
}
.ux-work-text{
    max-width: 50%;
    align-self:center;
    padding: 25px;
    border-left: 2px solid #7a5985;
    margin: 25px;
}
.case-button{
    margin: 50px 0px
}
.case-button a{
    color: #ffffff;
    font-size: 1em;
    min-width: 350px;
    text-align: center;
    background-color: #7a5985;
    padding: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
}
.case-button a:hover{
   margin: -5px 5px 5px -5px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    
}
/* .case-button:hover{
    margin-top: 20px;
    box-shadow:8px 8px 15px rgba(0, 0, 0, 0.25);
} */

#brug{
    background-color: #8F927F;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    margin: 0px 150px 50px 25px;
}
#brug-titles,
#unplugged-titles,
#dtangler-titles{
    color: #ffffff;
    font-size: 1.5em;
    padding: 25px;
    border-left: 2px solid #7a5985;
    margin: 0px 50px;
}
#brug-titles a,
#unplugged-titles a,
#dtangler-titles a{
    color: #ffffff;
}
#brug .grid-row,
#unplugged .grid-row,
#dtangler .grid-row{
    max-width: 90%; 
    margin: 0 auto;
}
#unplugged{
    background-color: #382B20;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    margin: 0px -25px 80px 150px;
}
#dtangler{
    background-color: #aac7db;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    margin: 0px 150px 0px 0px;
}

/* DIGITAL GRAPHICS */
.thirds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.grid-third{
    max-width: 33%;
}
/* CREATIVE CODING */ 
.cc-item{
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-flow: row;
    /* padding: 50px; */
}
.cc-half{
    max-width: 48%;   
}
#download-poster,
#phish-poster{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}
/* FOOTER */ 

.footer-items{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #322038;
    margin:0; 
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}
.fa-facebook-square,
.fa-instagram, 
.fa-linkedin{
    font-size: 2em;
    color: #7a5985;
    padding: 25px;
}
/* ABOUT PAGE */ 
.about-main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #322038;
    color: white;
}
.about-side{
    max-width: 50%;
}
.about-info{
    max-width: 45%;
    padding: 100px;
}
.green-rect{
    position: relative;
    z-index: 1;
    /* width: 250px; */
    max-width: 50%;
    height: 600px;
    margin: 100px 100px;
    background-color: #b6d2cf;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);

}
#about-img{
    position: relative;
    z-index: 2;
    max-width: 45%;
    margin: -1100px 0px 0px 250px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);

}



 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /********************* TABLET STYLES ***********************/

   @media only screen and (max-width: 991px) {
    .container{
        max-width: 90%;
    }
    .hero-text{
        max-width: 80%;
        position: relative;
        margin-right: -80px;
        z-index: 2;
        font-size: 1.2em;
    }
    .hero-img{
        margin-left: -50px;
    }

    .grid-row, 
    .grid-row-reverse{
        flex-flow: column;
    }
    .ux-work-img{
        max-width: 100%;
    }
    .ux-work-text{
        max-width: 75%;
        align-self: flex-start;
        margin: 25px 0px 50px;
    }
    #brug, 
    #unplugged,
    #dtangler{
        margin: 50px auto;
    }
    .web-dev-img{
        max-width: 100%;
    }
    
    .grid-third{
        max-width: 45%;
        padding: 12px;
    }

    /* ABOUT */ 

    .green-rect{
        margin: 50px;
        max-width: 100%;
    }
   
    #about-img{
        max-width: 60%;
        margin: -1000px 0px 0px 150px;
    }
    .about-info{
        padding: 75px;
    }
}
@media only screen and (max-width:670px){
    .container{
        margin: 50px auto;
    }
    .logo{
        align-items: baseline;
        max-width: 20%;
        font-size: 0.8em;
    }
    .logo-circle{
        max-width: 80%;
    }
    .logo-name{
        display: none;
    }
    .nav-items{
        max-width: 90%;
        font-size: 0.8em;
    }
    .hero-wrapper{
        padding: 10px;
        margin: 0 auto;
        flex-flow: column-reverse;
    }
    .hero-text{
        margin: 0;
        max-width: 90%;
        font-size: 1em;
    }
    .hero-img{
        margin: 0;
    }
    .work-title{
        padding: 0;
    }
    .ux-work-text{
        max-width: 100%;
    }
    .case-button{
        width: 100%;
    }
    .case-button a{
        padding: 25px 12px;
    }

    #brug-titles,
    #unplugged-titles,
    #dtangler-titles{
        font-size: 1em;
        margin: 25px;
    }
    .grid-third{
        max-width: 100%;
    }

    .cc-item{
        flex-flow: column;
    }
    .cc-half{
        max-width: 100%;
    }

    /* ABOUT */ 

    .about-side{
        display: none;
    }
    .about-info{
        max-width: 100%;
        padding: 25px;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


